<div class="footer bg-light" style="bottom: 0; width: 100%; text-align: center; margin-top: 20px; padding: 10px 0;">
      <p class="m-0">2025 &copy; NodeJS Temperature Monitor</p>
    </div>
</body>
</html>