@keyframes alert-blink {
    0%, 100% { box-shadow: 0 0 10px rgba(0,0,0,0.05); }
    50% { box-shadow: 0 0 20px rgb(250, 89, 89); }
}




body {
            background-color: #f5f5f5;
        }
        .alert-blink {
            animation: alert-blink 2s linear infinite;
        }
        .sidebar {
            background-color: white;
            height: 100vh;
            padding: 20px 0;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        .sidebar-item {
            padding: 10px 20px;
            margin: 5px 0;
            cursor: pointer;
            border-radius: 5px;
        }
        .sidebar-item:hover, .sidebar-item.active {
            background-color: #f0f0f0;
        }
        .card {
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
            margin-bottom: 20px;
            
        }

        .status-badge {
            padding: 5px 10px;
            border-radius: 15px;
            font-size: 0.8rem;
        }
        .normal {
            background-color: #e8f5e9;
            color: #2e7d32;
        }
        .alert {
            background-color: #263238;
            color: white;
        }
        .header-icon {
            font-size: 1.5rem;
            color: #6c757d;
        }
        .location-card {
            padding: 15px;
        }
        .location-title {
            font-weight: 600;
            margin-bottom: 1px;
        }
        .metric-row {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .metric-icon {
            width: 30px;
            color: #6c757d;
        }
        .metric-value {
            font-weight: 600;
            margin-left: auto;
        }